<!-- app/views/reviews/index.html.erb -->
<div class="centerLeftForInputs">
<h1>Reviews</h1>

<%= form_with(url: reviews_path, method: :get, local: true) do |form| %>
  <%= form.label :status, 'Filter by Status:' %>
  <%= form.select :status, options_for_select(['approved', 'pending', 'declined'], selected: params[:status]), include_blank: 'All' %>
  <%= form.submit 'Filter' %>
<% end %>
</div>
<div class="reviews-grid">
  <% @reviews.each do |review| %>
    <div class="review-card cardWhiter">
      <%= link_to review_path(review) do %>
        <h4><%= review.archive.title %> - <%= review.status.capitalize %></h4>
        <p><strong>Submitted by:</strong> <%= review.user.email %></p>
        <p><strong>Date Submitted:</strong> <%= review.created_at.strftime("%d/%m/%Y") %></p>
      <% end %>
    </div>
  <% end %>
</div>

<style>
  .reviews-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
  }
  .review-card {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
</style>
